<div class="row">
  <% @events.each do |event| %>
    <div class="card mr-3 mb-3">
      <%= image_tag event.image.url(:thumb), class: "card-image" if event.image? %>
      <div class="card-body">
        <div class="card-title"><%= event.title %></div>
        <div class="card-text mb-3">
          <%= I18n.l(event.date, format: "%d %B %Y, ") %>
          <%= I18n.l(event.start_time, format: "%H:%M") %>
        </div>
        <div class="card-text mb-3"><%= event.city %></div>
        <div class="card-text mb-3"><%= event.short_desc %></div>
        <%= link_to "Узнать больше", event_path(event), class: "btn btn-outline-primary" %>
        <% if @admin %>
          <div class="card-text mt-3">
            <div class="d-inline-block">
              <%= link_to "Изменить", edit_event_path(event) %>
              <%= link_to "Удалить", event_path(event), method: :delete, data: {confirm: "Вы уверены?"} %>
            </div>
          </div>
        <% end %>
        <% if event.tags %>
          <div class="card-text mt-3">
            <%= raw event.tags.map(&:name).map {|t| link_to t, tag_path(t), class: "badge badge-primary"}.join(' ') %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>