<div class="container">
  <div class="row justify-content-center">
    <div class="card w-50 mb-5">
      <img src="<%= @event.image %>" alt="" class="img-fluid">
      <div class="card-body">
        <h5 class="card-title"><%= @event.title %></h5>
        <p class="card-text"><%= raw @event.desc %></p>
        <p class="card-text">
          <small class="text-muted">
            Дата проведения:
            <%= I18n.l(@event.date, format: "%d %B %Y, ") %>
            <%= I18n.l(@event.start_time, format: "%H:%M") %>
          </small>
        </p>
        <p class="card-text"><%= @event.city %>,<%= @event.address %></p>
        <p class="card-text">Сайт организатора: <a href="<%= @event.link %>"><%= @event.link %></a></p>
        <p class="card-text">Организатор: <%= link_to @event.organizer.name, @event.organizer %></p>
        <% if @admin %>
          <div class="card-text mt-3">
            <div class="d-inline-block">
              <%= link_to "Изменить", edit_event_path(@event)%>
              <%= link_to "Удалить", event_path(@event), method: :delete, data: {confirm: "Вы уверены?"}%>
            </div>
          </div>
        <% end %>
        <div class="card-text">
          <%= raw @event.tags.map(&:name).map{|t| link_to t, tag_path(t), class: "badge badge-primary"}.join(' ') %>
        </div>
      </div>
    </div>
  </div>
</div>

